# Default ignored files
/.idea/
CustomXMLSerializer/obj/
CustomXMLSerializer/bin/
/shelf/
/workspace.xml
# Rider ignored files
/.idea.CustomXMLSerializer.iml
/projectSettingsUpdater.xml
/contentModel.xml
/modules.xml
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml